/*contenido total*/
.contenido {
  display: flex;
  flex-grow: 1;
}
/*toda la pagina menos la barra lateral y superior*/
.panel {
  padding: 20px;
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-family: Arial;
  position: relative;
  margin-left: 10px;
}
/*nombre del panel. Ej.mis citas, calificaciones, reservas, etc*/
.titulo-panel {
  display: flex;
  font-size: 22px;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
}
/*barra superior*/
.top-menu {
  height: 90px;
  background-color: #F3EDF7;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 34px;
  font-weight: 500;
  font-family: Arial;
}
/*titulo*/
.titulo {
  margin-left: 140px;
}
/*barra lateral*/
.side-menu {
  width: 200px;
  height: 100vh;
  background-color: #D9D9D9;
  color: #6750A4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/*palabras de la barra lateral*/
.side-menu-item {
  padding: 20px;
  cursor: pointer;
  font-size: 20px;
  text-align: left;
  font-weight: bold;
  font-family: Arial;
  margin-left: 15px;
}
/*la rayita horizontal*/
.divider {
  width: 100%;
  border: none;
  border-top: 1px solid #ccc;
  margin-top: 5px;
  margin-bottom: 10px;
}

/*PANEL 1*/

/*botón de programar cita*/
.btnProgramar {
  padding: 15px 30px;
  background-color: #6750A4;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 50px;
  margin-top: 25px;
}
/*btn ver citas futuras*/
.btnVer {
  padding: 15px 30px;
  font-size: 16px;
  color: #6750A4;
  border: 1px solid grey;
  border-radius: 30px;
  cursor: pointer;
  position: absolute;
  top: 90px;
  right: 50px;
  margin-top: 25px;
  margin-right: 10px;
}

.btnCalificar {
  margin-top: 30px;
  border: none;
  
  color: #6750A4;
  width: 120px;
  height: 40px;
  border-radius: 20px;
  position: absolute;

  top: 600px;
}

.cuadro {
  margin-top: 40px;
  height: 500px;
  width: 400px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(153, 153, 153);
  border-radius: 10px;
  margin-right: 40px;
  box-shadow: 1px 1px 10px rgb(224, 224, 224);
}

.cuadros {
  display: flex;

}

.nomProf {
  margin-top: -60px;
  margin-left: 120px;
  font-size: 20px;
  font-weight: bold;
}

.puestoProf {
  margin-left: 120px;
}

.circulo {
  height: 60px;
  width: 60px;
  background-color: #6750A4;
  border-radius: 50%;
  left: 0px;
  top: 0px;
  position: relative;
}

.AS, .JL {
  position: absolute;
  color: white;
  top: -4px;
  left: 18px;
  font-size: 22px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
.AS{position:absolute;left: 15px;}


/*ICONOS DE LA BARRA SUPERIOR*/

.user-icon, .menu-icon { 
  display: flex;
  align-items: center;
  margin: 10px;
  cursor: pointer;
}

.user {
  width: 60px;
}

.menu {
  width: 70px;
}




.container {
  border: 1px solid #742626;
  padding: 20px;
  border-radius: 5px;
  width: 800px;
  margin: auto;
  position: absolute;
  width: 1088px;
  height: 410px;
  left: 260px;
  top: 260px;
  background: #FEF7FF;
}
.nombre{
width: 992px;
height: 24px;
position: absolute;
left: 90px;
top: 20px;

}
.foto{
position: absolute;
width: 184px;
height: 151px;
left: 50px;
top: 100px;
}
.parrafo{
position: absolute;
width: 626px;
height: 160px;
left: 260px;
top: 60px;
}
.correo{
position: absolute;
left: 930px;
top: 70px;
}
.cursos{
position: absolute;
width: 100px;
height: 30px;
left: 50px;
top: 330px;

font-family: 'Roboto';
font-style: normal;
font-weight: 100;
font-size: 18px;
line-height: 20px;
}
.a{
border: 1px solid #742626;

width: 210px;
height: 20px;
border-radius: 20px;
margin: auto;
position: absolute;
text-align: center;
left: 290px;
top: 380px;
}
.b{
border: 1px solid #742626;

width: 210px;
height: 20px;
border-radius: 20px;
margin: auto;
position: absolute;
text-align: center;
left: 20px;
top: 380px;
}
.c{
border: 1px solid #742626;

width: 230px;
height: 20px;
border-radius: 20px;
margin: auto;
position: absolute;
text-align: center;
left: 560px;
top: 380px;
}
.d{
border: 1px solid #742626;

width: 250px;
height: 20px;
border-radius: 20px;
margin: auto;
position: absolute;
text-align: center;
left: 850px;
top: 380px;
}
.fechas{
position: absolute;

left: -30px;
top: 460px;
}
.dividor{
width: 1088px;
height: 0px;
position: absolute;

left: -30px;
top: 530px;

}
.label{
position: absolute;

left: -30px;
top: 550px;
}
.escoger{
position: absolute;

left: -30px;
top: 580px;
}
.label2{
position: absolute;

left: -30px;
top: 600px;
}
.es{
position: absolute;

left: -30px;
top: 630px;
}
.horariosd{
position: absolute;

left: -30px;
top: 650px;
}
.idh{
position: absolute;

left:-30px;
top: 660px;
}
.sesiones{
position: absolute;

left: -30px;
top: 790px;
}
.btn{
position: absolute;

left: -30px;
top: 820px;
}
.texto31{
   
  position: absolute;
  width: 153px;
  height: 28px;
  left: 20px;
  top: 100px;
  
  
  /* M3/body/small */
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */
  
  
  /* M3/sys/light/primary */
  
  color: #6750A4;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 0;
}
.texto4{
          /* supporting-text */
          
          position: absolute;
width: 783px;
height: 16px;
left: 20px;
top: 190px;
  


}
.buscador{
  width: 600px;
  height: 40px;
  position: absolute;
  left: 20px;
  top: 120px;
  border-radius: 5px;
}
.btn{
  position: absolute;
  height: 40px;
  border-radius: 5px;
  left: 640px;
  top: 125px;
}
#resultado {
  display: none;
  border: 1px solid black;
  padding: 10px;
  margin-top: 10px;
  position: absolute;
  
  width: 348px;
  height: 100px;
  left: 200px;
  top: 270px;
  background: #FEF7FF;
}


