.texto1 {
    position: relative;
    width: 100%px;
    height: 16px;
    left: 180px;
    top: 100px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.mititulo{
    position: absolute;
    width: 122px;
    height: 28px;
    left: 174px;
    top: 98px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #000000;
}

hr{
    position: relative;
    width: 1150px;
    height: 0px;
    border: 1px solid #CAC4D0;
    transform: matrix(1, 0, 0, -1, 0, 0);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    top: 55px;
    left: 70px;
}

.input1{
    position: relative;
    top: 160px;
    left: 180px;
    width: 110px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    color: #1D1B20;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.input2{
    position: relative;
    top: 160px;
    left: 220px;
    width: 80px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    color: #1D1B20;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.input3{
    position: relative;
    top: 160px;
    left: 260px;
    width: 80px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    color: #1D1B20;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.input4{
    position: relative;
    top: 160px;
    left: 300px;
    width: 120px;
    height: 24px;
    border: 1px solid #6750A4;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.linea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    isolation: isolate;
    position: relative;
    width: 909px;
    height: 56px;
    left: 174px;
    top: 200px;
    background: #FEF7FF;
  }

.agregar{
    position: relative;
    top: 160px;
    left: 800px;
    width: 100px;
    height: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: #6750A4;
    flex: none;
    order: 0;
    flex-grow: 0;
}