header {
    display: flex;
    height: 70px;
    justify-content: space-between;
    background-color: #D4E6F1;
    align-items: center;
    padding: 10px;
  }
  
  .icono1 {
    display: flex;
    height: 50px;
    align-items: left;
  }
  
  .icono2 {
    display: flex;
    height: 50px;
    align-items: right;
  }
  
  .icono img {
    height: 50px;
    margin-right: 10px;
  }
  
  .dropdown {
    position: absolute;
    top: 10px;
    left: 0;
    width: 200px;
    background-color: #CCCCCC;
    padding: 10px;
    z-index: 2;
    margin: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 5px;
    margin-top: 90px;
  }
  
  .profile-dropdown {
    position: absolute;
    top: 0px;
    left: 1300px;
    width: 200px;
    background-color: #CCCCCC;
    padding: 10px;
    z-index: 2;
    margin: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 5px;
    margin-top: 75px;
  }
  
  .dropdown p:hover {
    background-color: #D4E6F1;
    color: white;
  }
  
  .profile-dropdown p:hover {
    background-color: #D4E6F1;
    color: white;
  }
  
  .dropdown p {
    font-size: 15px;
    color: blue;
    margin: 20px 0;
    margin-bottom: 20px;
  }
  
  .profile-dropdown p {
    font-size: 15px;
    color: blue;
    margin: 20px 0;
    margin-bottom: 20px;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  .box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .box {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 200px;
    width: 80%;
    height: 210px;
  }
  
  .box-content {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    margin-top: -20px;
  }
  
  .box p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
  }
  
  .box p:last-child {
    margin-bottom: 10px;
  }
  
  .PalabrasBienvenida {
    margin-top: 20px;
    margin-left: 235px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .opcion {
    cursor: pointer;
  }
  
  .citas-box {
    height: 40px;
    background-color: #F5F7F9;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: -5px;
    margin-left: 0px;
    width: 38%;
    margin-bottom: 20px;
  }
  
  .Letras-citas {
    margin-top: -75px;
    margin-left: 50px;
  }
  
  .Letras-citas p {
    font-size: 18px;
  }
  
  .fecha-cita {
    margin-top: -5px;
    margin-left: 134px;
  }
  
  .fecha-cita  p{
    font-size: 12px;
  }