.Sistema{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .Estructura{
    background-color: white;
    width: 600px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(7, 21, 34, 0.2);
  }
  .Titulo{
    color: black;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 20px;
  }
  .Contenedor{
    display: inline-block;
    position:relative;
    height: 30px;
    width: 40%;
    margin-bottom: 30px;
    margin-left: 20px;
    
  }
  .texto {
    position:center;
    top: 0px;
    left: 0px;
    height: 100%;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
    padding-top: 10px;
    margin-bottom: 10px;
  }
  .label {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0 4px;
    background-color: white;
    color: #DADCE0;
    font-size: 12px;
    transition: 0.5s;
    z-index: 0;
  
  }
  .texto:focus + .texto {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 12px;
    font-weight: 500;
    color: purple;
  }
  .texto:focus {
    border: 2px solid purple;
  
  }
  .texto:focus+ .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 12px;
    font-weight: 600;
    color: purple;
  }
  .boton{
    text-align: right;
    margin-top: 20px;
    border: none;
  }
  .botonR {  
    color: black; /* Establece el color de texto en blanco */
    padding: 10px 20px; /* Agrega espacios de 10 píxeles arriba/abajo y 20 píxeles izquierda/derecha */
    border: none; /* Elimina el borde del botón */
    border-radius: 100px; /* Agrega bordes redondeados al botón */
    margin-right: 15px;
    font-weight: bold;
    background-color: rgb(214, 213, 213);
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .botonR:hover {
    background-color: white;
    transform: translateY(-2px);
  }
  p{
    color: purple;
    margin-left: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  